<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name ="tracelog" xsi:type="File" fileName="logs/tracelog.log" />
    <target name="logfile" xsi:type="File" fileName="logs/file.log" />
    <target name="infrastructure" xsi:type="File" fileName="logs/infrastructure.log" />
    <target name="owin" xsi:type="File" fileName="owin.log" />
  </targets>

  <rules>
    <logger name="eGradeBook.Providers.*" minlevel ="Trace" writeTo="owin" />
    <logger name="eGradeBook.Infrastructure.*" writeTo="infrastructure" />
    <logger name="*" minlevel ="Trace" writeTo="tracelog" />
    <logger name="*" minlevel="Info" writeTo="logconsole" />
    <logger name="*" minlevel="Info" writeTo="logfile" />
  </rules>
</nlog>