<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name ="tracelog" xsi:type="File" fileName="tracelog.txt" />
    <target name="logfile" xsi:type="File" fileName="file.txt" />
    <target name="logconsole" xsi:type="Console" />
    <target name="owin" xsi:type="File" fileName="owin.log" />
  </targets>

  <rules>
    <logger name="eGradeBook.Providers.*" minlevel ="Info" writeTo="owin" />
    <logger name="*" minlevel ="Trace" writeTo="tracelog" />
    <logger name="*" minlevel="Info" writeTo="logconsole" />
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>