<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name ="tracelog" xsi:type="File" fileName="logs/tracelog.txt"
            layout="${date}|${level}|${threadid}|${ActivityId}|${logger}|${message}|${exception}|${callsite:className=True:includeNamespace=False:fileName=False:includeSourcePath=False:methodName=True:cleanNamesOfAnonymousDelegates=True:cleanNamesOfAsyncContinuations=True}"
            archiveFileName="logs/archives/tracelog.{#}.txt"
            archiveEvery="Minute"
            archiveNumbering="Rolling"
            maxArchiveFiles="30"/>
   
    <target name="debugger" xsi:type="Debugger" />
    
    <target name ="errors" xsi:type="File" filename="logs/errors.txt"
            layout="${date}|${level}|${threadid}|${ActivityId}|${message}|${exception:format=toString,Data}"
            archiveFileName="logs/archives/errors.{#}.txt"
            archiveEvery="Hour"
            archiveNumbering="Rolling"
            maxArchiveFiles="24"/>
    
    <target name="jsonFile" xsi:type="File" fileName="logs/trace.json" >
    
      <layout xsi:type="JsonLayout">
      <attribute name="time" layout="${longdate}" />
      <attribute name="level" layout="${level:upperCase=true}"/>
      <attribute name="message" layout="${message}" />
      <attribute name="exception" layout="${exception:format=@}" />
    </layout>
  </target>
  </targets>

  <rules>
    <logger name="*" minlevel ="Trace" writeTo="debugger,jsonFile,tracelog" />
    <logger name="*" level ="Error" writeTo="errors" />
  </rules>
</nlog>